@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Oleo+Script+Swash+Caps&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(dodgerblue, midnightblue);
}

div {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  background: 
    radial-gradient(transparent 45%, white),
    linear-gradient(transparent 70%, white 71%),
  /* Snowflake Style U+2744 */
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='50' width='50'%3E%3Ctext x='0' y='15' fill='lightcyan'%3E&%23x2744;%3C/text%3E%3C/svg%3E"),
    /* Snowflake Style U+2745 */
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40'%3E%3Ctext x='0' y='15' fill='white'%3E&%23x2745;%3C/text%3E%3C/svg%3E"),
    /* Snowflake Style U+2746 */
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='60' width='60'%3E%3Ctext x='0' y='15' fill='linen'%3E&%23x2746;%3C/text%3E%3C/svg%3E");
  animation: animate-snowflakes 35s linear infinite alternate;
  box-shadow: 0 0 55px 10px dodgerblue;
}

@keyframes animate-snowflakes {
  to {
    background-position:
      0 0,
      0 0,
      20% 50%,
      75% 50%,
      50% 100%;
  }
}

div::before {
  content: '';
  position: absolute;
  top: 65%;
  width: 50vh;
  height: 15%;
  background: burlywood;
  background-image: 
    linear-gradient(saddlebrown, transparent, saddlebrown),
    linear-gradient(saddlebrown, transparent, saddlebrown),
    linear-gradient(90deg, saddlebrown, chocolate, transparent, chocolate, saddlebrown);
  background-size: 
    100% 15%,
    100% 10%,
    100% 100%;
  background-position: 
    0 0,
    0 100%,
    0 0;
  background-repeat: no-repeat;
  transform: perspective(75px) rotateX(10deg);
  box-shadow: 0 0 55px 10px dodgerblue;
}

div::after {
  position: absolute;
  content: 'Christmas 2021';
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  width: 15%;
  height: 1.5rem;
  left: 42.5%; 
  bottom: 22%; 
  color: #331F01;
  background: gold;
  background-image: 
    linear-gradient(90deg, goldenrod, transparent, goldenrod);
  border: 2px outset goldenrod;
  padding: 4px 0;
}